input.Buy {
    position: absolute;
    right: 10%;
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 30px;
    margin-top:10px;
}
body {
    background-color:#fffeb7;
}
div.Headline {
    background-color: #d5d5d5;
    width: 100%;
    display: flex;
    justify-content: center;
}
a.Headline {
    text-align: center;
    color: #009ff3;
    margin: 10px 30px 10px 30px;
}
div.Content {
    border: 2px solid black;
    background-color: white;;
    margin: 0 auto;
    width: 70%;
    height: 500px;
}
input.Buy:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
}
hr{
    border:2px solid black;
}
table.List {
    width: 80%;
}
td {
    text-align: center;
}
td.ItemName,td.ItemPrice,td.ItemImage{
    border-bottom:1px solid black;
}
td.ItemPrice {
    font-size: 30px;
    border-right: 1px solid black;
}
td.ItemName {
    color: #0995ff;
    font-size: 30px;
    font-weight: bold;
}
table.Total{
    position:absolute;
    right:0;
    margin-right:340px;
}
td.Total {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid black;
}